/* Register.css */
.login {
    width: 380px;
    background-color: #ffffff; /* Changed to a clean white background */
    height: auto; /* Height is auto to accommodate content */
    padding: 40px; /* Added padding for spacing */
    margin: 5% auto; /* Centered the form on the page */
    text-align: center;
    font-family: 'Arial', sans-serif;
    border: 1px solid #eaeaea; /* Added a subtle border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added a shadow for depth */
    border-radius: 10px; /* Increased border-radius for rounded corners */
}

.login > input {
    margin: 15px 0;
    width: calc(100% - 30px); /* Full width with padding */
    height: 50px; /* Increased height for better touch area */
    font-size: 16px; /* Standard font size for inputs */
    border: 1px solid #eaeaea; /* Subtle border for inputs */
    border-radius: 5px; /* Rounded corners for inputs */
    padding: 0 15px; /* Padding inside inputs */
    box-sizing: border-box; /* Box-sizing set to border-box */
}

.login > button {
    margin: 20px 0;
    width: calc(100% - 30px); /* Full width with padding */
    height: 50px; /* Increased height for a more prominent button */
    font-size: 16px;
    background-color: #0056b3; /* Primary button color */
    color: white; /* Text color for button */
    border: none;
    border-radius: 5px; /* Rounded corners for button */
    cursor: pointer; /* Cursor to pointer to indicate it's clickable */
    transition: background-color 0.3s; /* Transition for a hover effect */
}

.login > button:hover {
    background-color: #003d82; /* Darker shade on hover */
}

.login > h1 {
    margin-bottom: 30px; /* Reduced bottom margin */
    color: #333; /* Darker color for better readability */
}

/* Additional styles for error message */
p.error-message {
    color: red;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
}

/* Style for the link to the login page */
.login > h3 > a {
    color: #0056b3; /* Color to match the button */
    text-decoration: none; /* No underline */
}

.login > h3 > a:hover {
    text-decoration: underline; /* Underline on hover for better UX */
}
